.main{
  background-color: var(--primary-color);
}

.wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    align-content: center;
    height: 5.5rem;
    box-shadow: 0 0px 30px rgb(0, 0, 0);
}
.name{
    margin-left: 10%;
}

.section-2{
    .list-menu{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        .item-menu{
            cursor: pointer;
            padding: 0 1rem;
            transition: all ease 200ms;
              &:hover{
                opacity: .6;
              }
        }
        .item-number{
            color: var(--color-3);
            padding: 8rem;
        }
    }
}
