.wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    align-content: center;
    height: 3.5rem;
    border-bottom: solid 1.5px rgb(255, 246, 245);
    box-shadow: 0 0px 30px rgb(232, 57, 57);
}

.section-2{
    .list-menu{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        .item-menu{
            cursor: pointer;
            padding: 0 1rem;
            transition: all ease 200ms;
              &:hover{
                opacity: .6;
              }
        }
        
        .item-number{
            color: var(--color-3);
            padding: 8rem;
        }
    }
}