<section class="main">
  <div class= "wrapper animate__animated animate__pulse" >
      <div class= "section-1">
          <div class="name">
              <img src="assets/logo_corto.svg" alt="Logo corto" class="logo-corto" />
              <span>{{tittle_website}}</span>
          </div>
      </div>
      <div class="section-2">
          <ul class="list-menu">
              <li class="item-menu" *ngFor="let item of[1,1,1]; let i = index">
                  <span class="iten-number">{{i}}</span>
                  <span class="link">Link</span>
              </li>
          </ul>
      </div>
  </div>
</section>
