<div class ="wraspper">
    <div class="pre-title animate__animated animate__fadeInUp animation-1">Hola mi nombre es</div>
    <h1 #asTitle class="title animate__animated animate__fadeInUp animation-2"></h1>
    <h2 class="sub-title animate__animated animate__fadeInUp animation-3">Soy software junior developer</h2>
    <p class="sub-text animate__animated animate__fadeInUp animation-4">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Consequatur ipsa provident nulla, quibusdam alias minus ipsam non enim culpa dignissimos cupiditate ex,
         suscipit itaque consectetur repellat dicta sapiente obcaecati nesciunt?
    </p>

</div>
<div class="wraspper">
    <img  class="presentation-photo animate__animated animate__fadeInUp animation-5" src="assets\fotoWeb.jpg" alt="presentation photo">
</div>

<div class="link-wrapper">
    <hr>
    <h2 class="sub-title animate__animated animate__fadeInUp animation-5">Enlaces de referencia</h2>
    <div class="links d-flex flex-wrap">
        <div>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div>
            <img src="assets\linkedin.png" alt="enlace linkedin">
        </div>
    </div>
    
</div>
<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos impedit architecto numquam corrupti porro aliquam assumenda eos, omnis aut ullam tempora perspiciatis aspernatur quaerat repudiandae sit illum magnam velit quia?
</p>

