<div class ="wraspper">
    <h2 class="pre-title animate__animated animate__fadeInUp animation-1">{{texts.GREETING}}</h2>
    <h1 #asTitle class="title animate__animated animate__fadeInUp animation-2"></h1>
    <h2 class="sub-title animate__animated animate__fadeInUp animation-3"></h2>
    <p class="sub-text animate__animated animate__fadeInUp animation-4">{{texts.PRESENTATION_TEXT}}</p>

</div>
<div class="wraspper">
  <img  class="presentation-photo animate__animated animate__fadeInUp animation-5"
  src="assets\fotoWeb.jpg" alt="presentation photo">
</div>

<div class="link-wrapper animate__animated animate__fadeInUp animation-5">
    <hr>
    <h2 class="sub-title-2">{{texts.CONTACT_LINKS_TITLE}}</h2>
    <div class="links d-flex flex-wrap">
        <div class="block col-12 col-lg-4" *ngFor="let linkObj of links">
            <a [href]="linkObj.link" target="_blank">
                <div class="block-in">
                    <span [innerHTML]="linkObj.icon"></span>
                </div>
            </a>
        </div>
    </div>

</div>


