/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #06d2ec;
  --secondary-color: #E9E9ED;
  --tercery-color: #75b79824;
  --background-color: #EBF1FF;
  --text-color: #111827;
  --accent-color: #ff8000;
}

html, body{
    /*margin: 0;
    padding: 0; */
    color: rgb(5, 4, 4);
    font-family: 'Cabin', sans-serif;
    background-color: var(--background-alt);
}

h1,h2{
    margin: 0;
}

@for $i from i through 100{
    .animation-#{$i}{
        animation-delay: #{$i/10}s;
    }
}
