/* You can add global styles to this file, and also import other style files */
:root {
    --color-1:#e8eed1;
    --color-2:#18b42f;
    --color-3:#FF97E5;
}

html, body{
    margin: 0;
    padding: 0; 
    color: rgb(5, 4, 4);
    font-family: 'Cabin', sans-serif;
    background-color: var(--color-1);
}