/* You can add global styles to this file, and also import other style files */
:root {
    --color-1:#ffe5ec;
    --color-2:#ffc2d1;
    --color-3:#ffb3c6;
}

html, body{
    /*margin: 0;
    padding: 0; */
    color: rgb(5, 4, 4);
    font-family: 'Cabin', sans-serif;
    background-color: var(--color-1);
}

h1,h2{
    margin: 0;
}

@for $i from i through 100{
    .animation-#{$i}{
        animation-delay: #{$i/10}s;
    }
}