.wrapper{
    height: 100vh;
    position: relative;
    display: block;
    overflow:auto;
}

.block-repo{
    height: 15rem;
    padding: .25rem;
    display: block;

    .date{
        font-size: .85rem;
    }

    .block-repo-in{
        background-color: var(--secondary-color);
        width: 100%;
        height: 100%;
        padding: .5rem;
        .left{
            width: 80%;
            flex-direction: column;
            justify-content: space-between;
            .tittle{
                font-size: 1.4rem;
            }
        }
        .right{
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            font-size: 1.2rem;
            width: 20%;
        }
    }
}
::-webkit-scrollbar {
    display: none;
}
